<div ng-if="footer.isSocketReady" id="footer-content">
  <div id="player-bar" ng-class="{'playback-bar': footer.showPlayerFooter}">

    <!-- desktop mini player (spec §5.10 / mockup) -->
    <div class="artwork-mini">

      <div class="mini-identity">
        <track-info is-in-footer="true"></track-info>
      </div>

      <div class="mini-transport">
        <player-buttons is-in-footer="true"></player-buttons>
      </div>

      <div class="mini-right">
        <div class="mini-volume">
          <volume-manager is-on-footer="true"></volume-manager>
        </div>
        <button id="openMenuBtn" class="mini-zone"
                ng-click="audioOutputs.toggleMenu()"
                title="{{'MULTIDEVICE.ZONES_AND_OUTPUTS' | translate}}">
          <span class="material-symbols-rounded">speaker</span>
          <span class="mini-zone-name">{{ footer.zoneName || 'This player' }}</span>
        </button>
        <button type="button" ng-click="footer.awQueue.toggle()"
                class="btn btn-link mini-queue"
                ng-class="{selected: footer.awQueue.open}"
                title="{{'COMMON.TAB_QUEUE' | translate}}">
          <span class="material-symbols-rounded">queue_music</span>
          <span class="mini-queue__count" ng-if="footer.queueLength">{{footer.queueLength}}</span>
        </button>
      </div>

      <div class="mini-wave">
        <player-seekbar></player-seekbar>
      </div>

    </div>


  </div>
</div>

<audio-outputs class="zoneBtn"></audio-outputs>
