
<div class="panel panel-default myvolumio-card-container visible-xs visible-sm"  ng-if="settings.isAuthActive() && settings.isMyVolumioVisible()">

    <div class="panel-body">
        <my-volumio-user-card>
        </my-volumio-user-card>
    </div>

</div>

<div class="setting-container panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <i class="fa fa-cog"></i>
      <span translate="COMMON.SETTINGS"></span>
    </h2>
  </div>

  <div class="panel-body">
    <div class='row'>
      <div class="col-xs-24">

        <!-- the section list lives in the shell's left nav (aw-settings-nav); this finds a setting by name -->
        <aw-settings-search></aw-settings-search>
        <p class="aw-settings-hint mono">CHOOSE A SECTION</p>

          <div class="hardwareToggleCheckbox"
              ng-if="::settings.uiSettingsService.uiSettings.settings.checkboxes.analogInput">
            <input type="checkbox"
                ng-model="settings.analogIn"
                ng-click="settings.toggleAnalogInput()">
              <span translate="settings.ANALOG_INPUT"></span>
          </div>

          <div class="hardwareToggleCheckbox"
              ng-if="::settings.uiSettingsService.uiSettings.settings.checkboxes.bluetooth">
            <input type="checkbox"
                ng-model="settings.bluetooth"
                ng-click="settings.toggleBluetooth()">
              <span translate="settings.BLUETOOTH"></span>
          </div>

          <div class="side-logo img-responsive" ng-if="::settings.uiSettingsService.uiSettings.settings.showLogo">
            <img
              ng-src="{{variantAssetsUrl}}/graphics/{{variant}}-logo-sidebar.png"
              alt="{{header.themeManager.theme}}"/>
          </div>

      </div>
    </div>
  </div>

</div>
